<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  {% include sidebar.html %}

  <main role="main">
    <div class="content">
      {{content}}
    </div>
  </main>

{% include analytics.html %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126660308-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126660308-1');
</script>

</body>
</html>
